body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Nerko One', cursive;
    font-size: 150%;
}

.memoryContainer {
    width: 450px;
    margin: 0 auto;
}

button {
    font-family: 'Nerko One', cursive;
    font-size: 200%;
    margin: 20px;
}

.memoryGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
    border: 2px solid black;
}

.memoryGrid img {
    width: 125px;
    height: 125px;
}